@font-face {
  font-family: text;
  src: url('./text.otf');
} 

:root {
  --bg: black;
  --fg: red;
}

html {
  background: var(--bg);
  color: var(--fg);
}

* {
  font-family: text;
  text-transform: uppercase;
}